@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Import the Manrope font family */
@font-face {
  font-family: "Manrope Light";
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope Regular";
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope Semibold";
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope Bold";
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RF Dewi Light';
  src: url('/fonts/RFDewiExpanded-Light.ttf') format('truetype'),
    url('/fonts/RFDewiExpanded-Black.woff2') format('woff2'),
       url('/fonts/RFDewiExpanded-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RF Dewi Regular';
  src: url('/fonts/RFDewiExpanded-Regular.ttf') format('truetype'),
    url('/fonts/RFDewiExpanded-Black.woff2') format('woff2'),
       url('/fonts/RFDewiExpanded-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RF Dewi Semibold';
  src: url('/fonts/RFDewiExpanded-Semibold.ttf') format('truetype'),
       url('/fonts/RFDewiExpanded-Black.woff2') format('woff2'),
       url('/fonts/RFDewiExpanded-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'RF Dewi Bold';
  src: url('/fonts/RFDewiExtended-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

.rf-dewi-font-light {
    font-family: 'RF Dewi Light', sans-serif;
    font-weight: 300; /* Regular */
  }
.rf-dewi-font-normal {
    font-family: 'RF Dewi Light', sans-serif;
    font-weight: 400; /* Regular */
  }
  
  .rf-dewi-font-medium {
    font-family: 'RF Dewi Regular', sans-serif;
    font-weight: 500; /* Medium */
  }
  
  .rf-dewi-font-semibold {
    font-family: 'RF Dewi Semibold', sans-serif;
    font-weight: 600; /* Semibold */
  }
  .rf-dewi-font-bold {
    font-family: 'RF Dewi Bold', sans-serif;
    font-weight: 700; /* Semibold */
  }
.manrope-font-light {
    font-family: 'Monrope Light', sans-serif;
    font-weight: 300; /* Regular */
  }
.manrope-font-normal {
    font-family: 'Monrope Light', sans-serif;
    font-weight: 400; /* Regular */
  }
  
  .manrope-font-medium {
    font-family: 'Monrope Regular', sans-serif;
    font-weight: 500; /* Medium */
  }
  
  .manrope-font-semibold {
    font-family: 'Monrope Semibold', sans-serif;
    font-weight: 600; /* Semibold */
  }
  .manrope-font-bold {
    font-family: 'Monrope Bold', sans-serif;
    font-weight: 700; /* Semibold */
  }


.scrollbarActive::-webkit-scrollbar {
    @apply ease-in duration-300;
    width: 2px;
    height: 0;
    /* display: none; */
    opacity: 0;
  }
  .scrollbarActive::-webkit-scrollbar-track {
    @apply bg-2Gray opacity-0;
  }
  .scrollbarActive::-webkit-scrollbar-thumb {
    @apply dark:bg-2Gray opacity-0 ease-in duration-300 transition rounded-md cursor-pointer;
  }